#!/bin/bash
# Shell export variables

# Prompt coloring
PS1='\[\e[38;5;203m\]\u \[\e[38;5;33m\] \w \[\e[38;5;34m\]\n > \[\033[0m'

# XDG Base directory specification 
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"

# Application settings
export EDITOR="nvim"
export TERMINAL="st"
export BROWSER="firefox"

# Add .local/bin/ to PATH
export PATH=$PATH:$HOME/.local/bin

# X settings
export XAUTHORITY=/tmp/Xauthority # this worked
export XINITRC="$XDG_CONFIG_HOME/x11/.xinitrc" # this didn't work with startx, works with xinit
export INPUTRC="$XDG_CONFIG_HOME/shell/inputrc"

# Set location of .gnupg to .config
export GNUPGHOME=$HOME/.config/gnupg/

# Disable less history file storage
export LESSHISTFILE=-

# See man termcap / terminfo for modes 
# colorize less for bold text while viewing man pages 
export LESS_TERMCAP_md=$'\e[1;33m'
export LESS_TERMCAP_me=$'\e[0m'

# For git gpg signing
export GPG_TTY=$(tty)

# Set bash history settings
export HISTFILE=/tmp/.bash_history
export HISTSIZE=5
export HISTFILESIZE=0

# Set Locale settings
export LANG="en_US.UTF-8"
export LC_MESSAGES="en_US.UTF-8"
